.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #4b4b4b99;
    cursor: auto;
  }
  
  .modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  